<section id="history-zone" class="history-zone">

<div class="history-header">
 <h2>History</h2>
  <%= link_to export_index_path, {id: 'export', class: 'btn-floating bg-white', target: '_blank'} do %>
      <span class="glyphicon glyphicon-cloud-download"></span>
  <% end %>
  <a id="show-import-area" class="btn-floating bg-white btn-upload hide">
  <%= image_tag "upload.png" %>
  </a>
</div>

<div class="clearfix"></div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Source File (CSV)</th>
        <th>Processed Date/time</th>
        <th>Processed records</th>
        <th>Status</th>
        <th>Error report</th>
      </tr>
      </thead>
      <tbody>
      <% @history.each do |entry| %>
          <tr>
            <td>
              <a href="<%= entry.processed_file_path %>">
                <%= File.basename(entry.processed_file_path) %>
              </a>
            </td>
            <td><%= entry.updated_at %></td>
            <td><%= entry.processed_records %></td>
            <td>
              <%= status_image(entry.status) %>
            </td>
            <td>
              <% if entry.status == 'warning' || entry.status == 'error' %>
                  <a href="#" class="error-report-icon" data-url="<%= entry.report_file_path %>"><%= image_tag "report.png" %></a>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="error-report-modal" tabindex="-1" role="dialog" aria-labelledby="error-report-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2 class="modal-title" id="error-report-modal-title">Error report</h2>
          <p>Here is a list of errors found when we imported your file</p>
        </div>
        <div id="error-report-modal-body">
          <textarea readonly="true" rows="10" class="error-report-modal-body-content"></textarea>
        </div>
      </div>
    </div>
  </div>

</section>
