<div id="title-section">
  <h1>Import files into Nagual</h1>
  <h3>Drag and drop a CSV file to the space below</h3>

  <div id="import-area">
    <p class="copy">Drag your CSV file here or <a href="#">click to browse</a></p>
    <%= form_tag({action: :upload}, multipart: true) do %>
      <%= file_field_tag 'import_file' %>
      <%= submit_tag("Upload") %>
    <% end %>
  </div>

  <div id="import-area-hide">
    <p class="copy">Hide</p>
  </div>

  <div class="container">
    <h2>History</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>File</th>
          <th>Timestamp</th>
          <th>Records processed</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>products.csv</td>
          <td>11/11/2016 11:11 am</td>
          <td>15</td>
          <td><%= image_tag "check.png" %></td>
          <td><%= image_tag "report.png" %></td>
        </tr>
        <tr>
          <td>variants.csv</td>
          <td>11/12/2016 12:11 am</td>
          <td>1215</td>
          <td><%= image_tag "alert.png" %></td>
          <td><%= image_tag "report.png" %></td>
        </tr>
        <tr>
          <td>products.csv</td>
          <td>12/12/2016 09:32 pm</td>
          <td>2655</td>
          <td><%= image_tag "check.png" %></td>
          <td><%= image_tag "report.png" %></td>
        </tr>
    </table>
  </div>
</div>
