<div id="title-section">
  <h1>Import files into Nagual</h1>
  <h3>Drag and drop a CSV file to the space below</h3>

  <div class="import-area import-area-browse">
    <p class="copy">Drag your CSV file here or <a id="file-browse" href="#">click to browse</a></p>
    <%= form_tag({action: :upload}, multipart: true) do %>
      <%= file_field_tag 'import-file', style: 'display: none' %>
    <% end %>
    <div class="import">
      <%=image_tag "check.png", class: 'check' %>
    </div>
  </div>

  <div class="import-area import-area-success">
    <p class="copy">File uploaded</p>
    <div class="import-icon">
      <%=image_tag 'check.png', class: 'check' %>
    </div>
  </div>

  <div class="import-area import-area-error">
    <p class="copy">Error uploading file</p>
    <div class="import-icon">
      <%=image_tag 'error.png', class: 'error' %>
    </div>
  </div>

  <div id="import-area-hide">
    <p class="copy">Hide</p>
  </div>

  <div class="container">
    <h2>History</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Source File (CSV)</th>
          <th>Processed Date/time</th>
          <th>Processed records</th>
          <th>Status</th>
          <th>Error report</th>
        </tr>
      </thead>
      <tbody>
        <% @history.each do |entry| %>
        <tr>
          <td><a href="<%= entry.processed_file_path %>"><%= File.basename(entry.processed_file_path) %></a></td>
          <td><%= entry.updated_at %></td>
          <td><%= entry.processed_records %></td>
          <td><%= (entry.status == 'success') ? image_tag("check.png") : image_tag("error.png") %></td>
          <% if entry.status == 'error' %>
            <td><a target="_blank" href="<%= entry.report_file_path %>"><%= image_tag "report.png" %></a></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
