<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="logo">
          <%= image_tag "nagual_logo.svg" %>
        </div>
        <p>Welcome to Nagual. Please sign in.</p>
        <% if alert %>
            <p class="alert"><%= alert %></p>
        <% end %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'password' %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <%= f.submit 'Sign in', class: 'btn form-control' %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
