<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="login-modal-title">Welcome to Nagual</h2>
        <div class="modal-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="container-fluid">
              <div class="row">
                <% if alert %>
                  <div class="col-md-12">
                    <p class="alert"><%= alert %></p>
                  </div>
                <% end %>
                <div class="col-md-3">
                  <span class="required">* </span><%= f.label :email %>
                </div>
                <div class="col-md-9">
                  <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                </div>
                <div class="col-md-3">
                  <span class="required">* </span><%= f.label :password %>
                </div>
                <div class="col-md-9">
                  <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
                </div>
                <div class="modal-footer">
                  <%= f.submit 'Log in', class: 'btn btn-primary' %>
                </div>
              <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
