<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="logo">
          <%= image_tag "nagual_logo.svg" %>
        </div>
        <p>Welcome to Nagual. Please sign in.</p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="container-fluid">
            <div class="row">
              <% if alert %>
                <div class="col-md-12">
                  <p class="alert"><%= alert %></p>
                </div>
              <% end %>
              <div class="col-md-12">
                <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %>
              </div>
              <div class="col-md-12">
                <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'password' %>
              </div>
              <div class="col-md-12">
                <%= f.submit 'Sign in', class: 'btn form-control' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
