<div id="header" class="flex navbar-fixed-top">
  <div id="header-logo">
    <%= image_tag "nagual_logo.svg" %>
  </div>
  <span class="flex-spacer"></span>
  <div id="header-menu">
    <span>
    <% if user_signed_in? %>
      Welcome <strong><%= current_user.email %></strong> | <%= link_to 'Help', help_path %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <strong>Sign in</strong> | <%= link_to 'Help', help_path %>
    <% end %>
    </span>
  </div>
</div>
